h1 {
    color: blue;
}

.title {
    color: red;
}

#color {
    color: green;
}

.box {
    padding: 2em;
    margin: 1em 0;
}

.bg-yellow {
    background-color: yellow;
}

.bg-red {
    background-color: red;
}
